.main-content {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0px 0px 2px #ccc;
  margin-top: 2rem !important;
}
.display-7 {
  font-size: calc(0.375rem + 1.5vw);
  font-weight: 300;
  line-height: 1.2;
}